{% extends 'base.html.twig' %}

{% block title %}Informatie{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Informatie La casserai</h1>
<p>Informatie geven over het hotel zoals dat er gratis wifi is en de prijzen voor ontbijt en lunch etc.</p>
</div>
{% endblock %}
